* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  height: 100vh;
  min-width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.control {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 15px;
  min-width: 450px;
  width: 500px;
}
.message {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 10px;
  line-height: 2rem;
}
.message button,
.message span {
  padding: 0 1rem;
flex-basis: 33.3%;
  text-align: center;
}
hr{
  width: 100%;
  margin: 10px;
}
strong {
  margin: 15px;
}
.control > p {
  margin: 15px;
}
.cell {
  border: 3px solid #555;
  margin: -3px;
  background: #ffeaa7;
  cursor: pointer;
  height: 100px;
  width: 100px;
}
